langchain-groq
langchain-core
langgraph
fastapi
uvicorn
pydantic
python-dotenv
pypdf
langchain>=0.1.20
langchain-pinecone>=0.0.3
pinecone-client>=3.0.0
langchain-pinecone
langchain-ollama
langchain-community


